.upload-recipe-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.upload-recipe {
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 80%;
  height: 80%;
  padding: 10px;
  display: grid;
  gap: 20px;
}
.upload-recipe form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.upload-recipe div {
  border: 1px solid rgb(218, 209, 209);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 8px;
}
.upload-recipe input,
.upload-recipe select,
.upload-recipe option {
  padding: 8px;
  outline: none;
  max-width: 250px;
  border-radius: 4px;
  border: none;
  margin-top: 2px;
}
.upload-recipe label {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  /* white-space: nowrap; */
}
.submit-button {
  padding: 8px 8px;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  width: 140px;
}

@media (max-width: 520px) {
  .upload-recipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .upload-recipe form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
  }
  .preview-image {
    width: 90vw;
    border: 2px solid red;
  }
}

@media (max-width: 790px) {
  .submit-button {
    width: 100%;
  }
}
