.upload-recipe-container{
    width: 100%;
    border: 2px solid red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.upload-recipe{
    border: 2px solid red;
    width: 80%;
    height: 80%;
    padding: 8px;
}