:root{
  --primaryColor :#FF7A00;
  --secondaryColor : #FCF9F4;
  --tertiaryColor : #2D2926;
  --neutralColor : #867369;
  --border-radius-value : 8px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}