.signup-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(100px , 400px));
    justify-content: center;
}

.signup-form form{
    display: flex;
    border: 0.3px solid white;
    border-radius: 4px;
    height: 550px;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 1rem;
}
.signup-header{
    border: 0.3px solid white;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px 10px;
    color: white;
}
.signup-input-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.3px solid white;
    border-radius: 4px;
    max-height: 250px;
}
.signup-input-container input{
    padding: 8px 10px;
    width: 80%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 4px;
    color: white;
}
.signup-pass-container{
    width: 80%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 0px 8px;
}
.signup-pass-container input{
    border: none;
}
.signup-submit-form{
    padding: 10px 0px;
    font-weight: bold;
    color: #0E1F32;
    outline: none;
    border : none;
    border-radius: 4px;
    cursor: pointer;
}
.login-link{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 4px 0px;
}

@media (min-width : 550px) {
    .signup-container{
        place-content: center;
        height: 100vh;
    }
}