.recipes-container{
    min-height: 100vh;
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fill , minmax(210px , 1fr));
    margin-top: 74px;
    z-index: -10;
    gap: 1rem;
    row-gap: 2rem;
    padding: 4px 12px;
}
.image-container{
    position: relative;;
    overflow: hidden;
    max-height: 40%;
    padding : 0.4rem;
}
.image-container img{
   object-fit: cover;
    max-width: 100%; 
    border-radius: 4px;
}
.image-container p{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    top: 10px;
    left: px;
    border-radius: 2px;
}
.recipe-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    max-height: 400px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 10px;
    gap : 10px;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
}
.details-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 4px;
    max-width: 100%;
    background-color: #DCE8E8;
    border-radius: 4px;

}
.recipe-name{
    text-align: center;
    color: #0E1F32;
    height: 40px;
    border-radius: 4px ;
    font-size: 14px;
    font-weight: bold;

}
.rating-review-container{
    width: 100%;
    border-radius: 4px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #f7e9cd; */
    
    height: 40px;
    padding: 2px 8px;
    gap: 4px;
    font-weight: bold;
}
.rating{
    font-size: 14px;
    color: #0E1F32;
    white-space: nowrap;
}
.review{
    white-space: nowrap;
    color: #0E1F32;
    font-size: 12px;
}
.view-more-btn{
     height: 40px;
     cursor: pointer;
     width: 100%;
     background-color: #98aaaa;
     border: none;
     border-radius: 4px;
     font-weight: bold;
     color: #0E1F32;
     /* margin-bottom: auto; */
}

@media (max-width:220px) {
    .rating-review-container{
        flex-direction: column;
        gap: 12px;
    }
    .recipe-name{
        white-space: wrap;
    }
    .recipes-container{
        grid-template-columns: repeat(auto-fit , minmax(100px , 1fr));
    }

}