.profile-page-section{
    /* border: 2px solid red; */
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #FFF7F3;
}

.profile-page-container{
    /* border: 2px solid red; */
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;

}

.profile-picture-and-intro-container{
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid red; */
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--neutralColor);

}
.image-and-edit-image-container{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pencil-icon{
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 5px;
}

.image-and-edit-image-container img{
    width: 180px;
    object-fit: cover;
    height: 180px;
    padding: 4px;
    border-radius: 50%;
}

.text-about-user-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-about-user-container p{
    font-size: 14px;
    color: var(--tertiaryColor);
}

.recipes-count-and-follower{
    display: flex;
    /* border: 2px solid red; */
    gap: 20px;
    align-items: center;

}

.recipes-count-and-follower div{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}
.recipes-count-and-follower div p:nth-child(1){
    color: var(--primaryColor);
    font-weight: bold;
}
.recipes-count-and-follower div p:nth-child(2){
    color: var(--neutralColor);
    /* letter-spacing: 3px; */
    font-size: 14px;
}

.follow-btn-and-share-icon-container{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    gap: 20px;
}
.follow-btn-and-share-icon-container button{
    padding: 6px 16px;
    background-color: #994700;
    color: var(--secondaryColor);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.follow-btn-and-share-icon-container .share-icon{
    /* background-color:#FFEADF; */
    align-self: center;
    /* border: 2px solid red; */
    cursor: pointer;
}


.my-recipes-and-saved-recipes-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    gap:30px;
    box-shadow: 0px 0px 2px var(--neutralColor);
}

.my-recipe-and-saved-recipe-selection-container{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 30px;
}
.my-recipe-and-saved-recipe-selection-container button{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--neutralColor);
    font-weight: bold;

}
.my-recipe-and-saved-recipe-selection-container .active{
    color: var(--primaryColor);
    border-bottom: 1.5px solid var(--primaryColor);
}
.recipe-card-container{
    /* border: 2px solid red; */
    width: 100%;
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}


@media (max-width:740px) {
    .profile-picture-and-intro-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
   
}

@media (max-width : 420px) {
     .profile-page-container{
        min-width: 100%;
        justify-content: stretch;padding: 0px;
    }
}