.add-recipes-section{
    min-height: 100vh;
    background-color: #FFF8F5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-recipes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
    max-width: 90%;
    margin-top: 10px;
}
.add-recipes-heading-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--tertiaryColor);
    width: 100%;
    max-width: 600px;
}
.add-recipes-heading{
    font-size: clamp(20px , 30px , 35px);
}
.add-recipes-para{
    font-size: 14px;
}


.recipes-upload-container{
    display: flex;
    gap: 20px;
}

.recipe-essential-instruction-ingrediant-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    flex: 1;
    max-width: 800px;
}
.inputs-and-heading-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px; /* padding for natural */
    box-shadow: 0px 0px 2px black;
    background-color: white;
    border-radius : 10px;
}
.inputs-and-heading-container input ,textarea{
    padding: 16px;
    border-radius: 10px;
    outline: none;
}

.inputs-and-heading-container .heading{
    font-size: clamp(14px , 20px , 30px);
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primaryColor);
}

.recipe-title-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-size: 14px;
}

.category-and-preparation-time-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.category-container{
    flex: 1;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.category-container select{
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.preparation-time{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-description{
    display: flex;
    flex-direction: column;

}





.ingrediant-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;

}
.ingrediant-container .ingrediant-heading , .preparation-step-heading{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primaryColor);

}

h3 , .ingrediant-heading button{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 4px 0px;
}
.ingrediant-heading button , .preparation-step-heading button{
    padding: 4px 10px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primaryColor);
    font-weight: bold;
    border: none;

}
.ingrediant-heading button:hover , .preparation-step-heading button:hover{
    background-color: #FBE3D7;
}

.ingrediant-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.ingrediant-list ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    
}

.ingrediant-list ul li input {
    background-color: #FFF8F5;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    flex: 1;
}
.ingrediant-list ul li button{
    background-color: #FFF8F5;
    border: none;
    cursor: pointer;
}




/* preparation step  */

.preparation-steps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
}

.preparation-step-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-of-preparation-steps ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 16px;
}

.list-of-preparation-steps ul li{
    list-style: none;
    
}

.list-of-preparation-steps ul li .step-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.step-container input{
    flex: 1;
    height: 100px;
    max-height: 40px;
    background-color: #FFF8F5;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
.step-container p:nth-child(1){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    
}

.step-container .delete-icon{
    cursor: pointer;
    color: var(--tertiaryColor);
}





.image-and-tag-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

.image-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.image-container h2{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primaryColor);
    font-size: clamp(16px , 20px , 30px);
}

.image-upload-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    gap: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    color: var(--tertiaryColor);
    cursor: pointer;
}

.tips-container{
    font-size: 14px;
}
.tips-container span{
    color: var(--primaryColor);
}

.publish-recipe-btn{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(to right , var(--primaryColor) , hsl(29, 97%, 46%));
    border: none;
    border-radius: 10px;
    font-weight: bold;
}


@media (max-width :1000px) {
    .category-and-preparation-time-container{
        flex-direction: column;
    }
    .category-container{
        min-width: 100%;
    }
    .preparation-time{
        min-width: 100%;
    }
     .add-recipes-container{
        max-width: 100%;
    }
}

@media (max-width : 730px) {
   
    .recipes-upload-container{
        flex-direction: column;
        max-width: 100%;
    }
}

@media (max-width : 420px){
    .preparation-steps-container{
        padding: 2px;
    }
    .ingrediant-container{
        padding: 2px;
    }
}