.container{
    height: 70px;
    background-color: rgb(255, 174, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0rem 1rem; */
}
.container ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4rem;
    /* border: 2px solid blue; */
    width: 30rem;
    
}
.container ul li{
    list-style: none;
    text-decoration: underline;
     list-style-type: none;
}

#logo-id{
    margin-right: auto;
    cursor: pointer;
    /* border: 2px solid blue; */
    white-space: nowrap;
    padding: 4px 8px;
}
.active{
    display: none;
    margin-right: 1rem;
    font-size: 20px;
}
@media (max-width : 550px) {
    .active{
        cursor: pointer;
        display: block;
    }
    .container ul{
        display: none;
    }
}