.recipes-container{
    min-height: 100vh;
    border: 2px solid red;
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit , minmax(280px , 1fr));
}
.image-container img{
   object-fit: cover;
   height: 100%;
   width: 100%;
    border-radius: 4px;
}
.image-container{
    position: relative;;
    /* border: 20px solid red; */
    height: 40%;
    overflow: hidden;
    /* width: 120%; */
}
.image-container p{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    top: 10px;
    left: -10px;
    border-radius: 2px;
}
.recipe-box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border: 2px solid blue;
}
.details-container{
    flex-grow: 1;
   display: grid;
   grid-template-columns: repeat(auto-fit , minmax(150px , 1fr));
   grid-template-areas: "recipe-name recipe-name"
   "rating-review-container rating-review-container"
   "view-more-btn view-more-btn";
   gap: 8px;
}
.recipe-name{
    grid-area: recipe-name;
    border: 2px solid black;
}
.rating-review-container{
    grid-area: rating-review-container;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.view-more-btn{
    grid-area: view-more-btn;
     border: 2px solid blue;
}